In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense

In [ ]:
data = pd.read_csv('/content/data3.csv')
data.head()

                            nama  klasifikasi
0  3 ayam mie telor super kuning            0
1   3 ayam mie telor super merah            0
2        5 days croissant cheese            0
3        7 cereal bar cocoa chia            0
4     7 cereal bar yoghurt berry            0

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#Stem and make lower case
def stemSentence(sentence):
    porter = PorterStemmer()
    token_words = word_tokenize(sentence)
    stem_sentence = [porter.stem(word) for word in token_words]
    return ' '.join(stem_sentence)
data['nama'] = data['nama'].apply(lambda text: stemSentence(text))
data.head()

                           nama  klasifikasi
0   3 ayam mie telor super kune            0
1  3 ayam mie telor super merah            0
2         5 day croissant chees            0
3       7 cereal bar cocoa chia            0
4    7 cereal bar yoghurt berri            0

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_Y = LabelEncoder()
y = labelencoder_Y.fit_transform(data.iloc[:,1].values)

In [ ]:
# Tokenize
tokenizer = Tokenizer()
tokenizer.fit_on_texts(data['nama'])
sequences = tokenizer.texts_to_sequences(data['nama'])

max_sequence_length = 25
padded_sequences = pad_sequences(sequences, maxlen=max_sequence_length)
X = padded_sequences

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
type(X_train)
type(X_test)

numpy.ndarray

In [ ]:
# buat load model
new_model = tf.keras.models.load_model('/content/my_model.h5')
new_model.summary()
loss, acc = new_model.evaluate(X_test, y_test, verbose=2)
print('Restored model, accuracy: {:5.2f}%'.format(100 * acc))

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 25, 50)            341300

 lstm (LSTM)                 (None, 50)                20200

 dense (Dense)               (None, 9)                 459

=================================================================
Total params: 361,959
Trainable params: 361,959
Non-trainable params: 0
_________________________________________________________________
30/30 - 1s - loss: 0.0423 - accuracy: 0.9853 - 611ms/epoch - 20ms/step
Restored model, accuracy: 98.53%

In [ ]:
max_sequence_length = 25
text = input(stemSentence(""))
text = tokenizer.texts_to_sequences([text])
padded_input_sequence = pad_sequences(text, maxlen=max_sequence_length)
predictions = new_model.predict(padded_input_sequence)
predicted_class = predictions.argmax(axis=-1)[0]

if predicted_class == 0:
  print('Barang masuk ke dalam kategori Belanja')
elif predicted_class == 1:
  print('Barang masuk ke dalam kategori Makanan & Minuman')
elif predicted_class == 2:
  print('Barang masuk ke dalam kategori Kesehatan & Kecantikan')
elif predicted_class == 3:
  print('Barang masuk ke dalam kategori Pendidikan')
elif predicted_class == 4:
  print('Barang masuk ke dalam kategori Transportasi')
elif predicted_class == 5:
  print('Barang masuk ke dalam kategori Pinjaman & Tagihan')
elif predicted_class == 6:
  print('Barang masuk ke dalam kategori Sosial')
elif predicted_class == 7:
  print('Barang masuk ke dalam kategori Hiburan')
elif predicted_class == 8:
  print('Barang masuk ke dalam kategori Investasi')
else:
  print('Barang masuk ke lainnya')

ayam hitam
1/1 [==============================] - 0s 22ms/step
Barang masuk ke dalam kategori Belanja